{% load static %}
{% load spotify %}


<input type="hidden" name="event_id" id="event_id" value="{{ event_id }}"> 

<div id="modal-travel" style="display: none">
	<div class="modal-header">
	    <h3 id="header-detail-event" class="modal-title" style="text-align: center;"></h3>
		<h4 id="header-detail-event-sub" class="modal-title" style="text-align: center;"></h4>
	</div>

	<div id="body-detail-event" class="modal-body">
		<div id="artist">
			
		</div>
		<br><br>
		<div id="modal-travel-price" style="display: none">
			<div id="fare" style="text-align: center;width: 400px;margin: 0 auto;position: relative;">
				<span style=" position: relative; top: -70px; right: -45px;">Ida</span>
				<div id="ida" style="width: 70px;height: 75px;border-color: black;margin-right: 20px;border-style: solid;text-align: center;display: inline;display: inline-block;">
					<span id="ida-dia" style="font-size: 36px;"></span>
					<span id="ida-mes"></span>
				</div>

				<span style=" position: relative; top: -70px; right: -54px;">Volta</span>
			  	<div id="volta" style="width: 70px;height: 75px;border-color: black;margin-right: 20px;border-style: solid;text-align: center;display: inline;display: inline-block;">
					<span id="volta-dia" style="font-size: 36px;"></span>
					<span id="volta-mes"></span>
				</div>
			</div>
			<br>
			<div id="price" style="text-align: center;width: 400px;margin: 0 auto;color: green;">
				<span>$</span>
				<span id="price-text" style="font-size: 40px;"></span>
				<br><br>
				<a href="#" class="btn btn-lg btn-success">Reservar Online</a>
			</div>
		</div>
	</div>
<div>
<input type="hidden" name="event_id" id="event_id" value="1208"> 

<script>
	jQuery(document).ready(function() {
		$.getJSON( "api/show/" + $("#event_id").val(), function( data ) {
			$("#header-detail-event").text(data.name);
			$("#header-detail-event-sub").text($.datepicker.formatDate('dd/mm/yy', new Date(data.datetime)));

			$.getJSON( 'api/eventFares?origin=SFO&destination=LAX&event_id=' + $("#event_id").val(), function( data ) {
				fareData = _.sortBy(data.FareData, 'MinimumFare')[0];

				$("#price-text").text(fareData.MinimumFare);

				$("#ida-dia").text(new Date(fareData.DepartureDateTime).toDateString().split(' ')[2]);
				$("#volta-dia").text(new Date(fareData.ReturnDateTime).toDateString().split(' ')[2]);
				
				$("#ida-mes").text(new Date(fareData.DepartureDateTime).toDateString().split(' ')[1]);
				$("#volta-mes").text(new Date(fareData.ReturnDateTime).toDateString().split(' ')[1]);


				$("#modal-travel-price").show();	
			});

			$("#modal-travel").show();
		});
	});
</script>
